@model PrecoCerto.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<!---------------------------------------------------------------- Cabeçalho --------------------------------------------------------------------->
<section class="breadscrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadscrumb-contain">
                    <h2>Apagar usuário</h2>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------------------------------------------------------>

<div class="d-flex flex-column wrapper pt-3">
    <main class="flex-fill">
        <div class="container-fluid-lg">
            <div class="row">
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Endereco)
                            </th>
                            <th class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Telefone)
                            </th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-sm-4">
                                @Html.DisplayFor(model => model.Nome)
                            </td>
                            <td class="col-sm-4">
                                @Html.DisplayFor(model => model.Email)
                            </td>
                            <td class="col-sm-4">
                                @Html.DisplayFor(model => model.Endereco)
                            </td>
                            <td class="col-sm-4">
                                @Html.DisplayFor(model => model.Telefone)
                            </td>
                        </tr>
                    </tbody>
                </table>
    
                <form class="mt-3" asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <a class="btn-log-link btn-primary" asp-action="Index">Voltar</a>
                    <input type="submit" value="Apagar" class="btn-log btn-danger" />
                </form>
            </div>
        </div>
    </main>
</div>

