@model IEnumerable<PrecoCerto.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<!---------------------------------------------------------------- Cabeçalho --------------------------------------------------------------------->
<section class="breadscrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadscrumb-contain">
                    <h2>Usuários</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------------------------------------------------------------------------------------------------------------------------------>

<div class="d-flex flex-column wrapper pt-3">
    <main class="flex-fill">
        <div class="container-fluid-lg">
            <div class="row">

                <div class="btn-cad-left mb-3">
                    <a class="btn-log-link btn-success" asp-action="Create">Cadastrar novo Usuário</a>
                </div>

                <table class="table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Endereco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefone)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Vizualizar</a> 
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
            </div>
        </div>
    </main>
</div>
